body {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  margin: auto;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.no__records {
  text-align: center;
  padding: 40px;
}

.container {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 100%;
  object-fit: cover;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.7;
  height: auto;
}

.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 8px;
}

.card__title {
  padding: 7px;
  font-weight: 700;
}

.feed {
  display: grid;
  justify-items: center;
}

@media (min-width: 320px), (min-width: 480px) {
  .feed {
    grid-template-columns: 1fr;
  }
  .card {
    width: 230px;
    margin: 15px;
  }
  .control__panel {
    justify-content: center;
    padding: 10px 10px 10px 10px;
  }
  .tabular {
    display: none;
  }
}

@media (min-width: 600px), (min-width: 801px), (min-width: 1025px) {
  .feed {
    grid-template-columns: 1fr 1fr;
  }
  /* .control__panel {
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
  } */
  .tabular {
    display: block;
    padding: 0 80px 0 80px;
  }

  .container {
    width: 74vw;
  }

  .card {
    margin: 32px;
  }
}

@media (min-width: 1281px) {
  .feed {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .control__panel {
    justify-content: space-between;
    padding: 10px 70px 10px 50px;
  }
  .tabular {
    display: block;
    padding: 0 106px 0 106px;
  }
}

.control__panel {
  display: flex;
  flex-wrap: wrap;
}

select {
  height: 54px;
  font-family: "Titillium Web", sans-serif;
  width: 265px;
  font-size: 1.1rem;
  padding: 5px;
}

input {
  height: 40px;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.1rem;
  width: 250px;
  padding: 5px;
}

input:focus {
  box-shadow: 3px 3px 4px rgba(105, 152, 253, 0.315);
}

.tabular {
  margin-top: 10px;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 10px;
}

th {
  height: 20px;
  background-color: lightgray;
}
