body {
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
  margin: auto;
  padding: 30px 0 30px 0;
  background-color: rgba(205, 199, 241, 0.3);
}
.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.no__records {
  text-align: center;
  padding: 40px;
}

.container {
  width: 60vw;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
}

.card {
  border-radius: 10px 10px;
  border: 1px solid slateblue;
  border-radius: 0.7;
  height: auto;
  width: 250px;
  margin: 52px;
}

.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 7px;
}

.card__title {
  padding: 7px;
}

.feed {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media (min-width: 320px), (min-width: 480px) {
  .feed {
    grid-template-columns: auto;
  }
  .card {
    width: 230px;
    margin: 15px;
  }
  .control__panel {
    justify-content: center;
  }
  .tabular {
    display: none;
  }
}

@media (min-width: 600px), (min-width: 801px), (min-width: 1025px) {
  .feed {
    grid-template-columns: auto auto;
  }
  .control__panel {
    justify-content: space-between;
  }
  .tabular {
    display: block;
  }

  .card {
    margin: 32px;
  }
}

@media (min-width: 1281px) {
  .feed {
    grid-template-columns: auto auto auto;
  }
  .control__panel {
    justify-content: space-between;
  }
  .tabular {
    display: block;
  }

  .card {
    margin: 52px;
  }
}

.control__panel {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

select {
  height: 54px;
  font-family: "Titillium Web", sans-serif;
  width: 265px;
  font-size: 1.4rem;
  padding: 5px;
  border-radius: 5px 5px;
  border: 1px solid slateblue;
}

input {
  height: 40px;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.4rem;
  width: 250px;
  padding: 5px;
  border-radius: 5px 5px;
  border: 1px solid slateblue;
}

.tabular {
  margin-top: 10px;
  padding: 20px;
}

table,
th,
td {
  border: 1px solid slateblue;
  border-collapse: collapse;
  padding: 10px;
}

th {
  background-color: slateblue;
  height: 20px;
}
